artifacts/*
!artifacts/.gitkeep
!artifacts/models/
artifacts/models/*
!artifacts/models/.gitkeep
!artifacts/metrics/
artifacts/metrics/*
!artifacts/metrics/.gitkeep
!artifacts/predictions/
artifacts/predictions/*
!artifacts/predictions/.gitkeep
!artifacts/feature_importance/
artifacts/feature_importance/*
!artifacts/feature_importance/.gitkeep
